<h1>Static page</h1>
<%= form_with method: :get do |search_form| %>
  <%= search_form.label :user_id %>
  <%= search_form.text_field :user_id, placeholder: "enter flickr user id here",
size: 12%>
  <%= search_form.submit "Get photos"%>
<% end %>
<% if @photos.nil? %>
  <p>No results. Enter a flickr user id to see their photos.</p>
<% else %>
  <% @photos.each do |photo| %>
    <div class="photo">
      <p><strong><%= title(photo) %></strong></p>
      <img src=<%= img_src_url(photo) %>>
      <p><%= description(photo) %></p>
    </div>
  <% end %>
<% end %>
